.instructor {
  @include center;
  flex-direction: column;
  margin: 8rem 0;
  .instructor-heading {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    text-align: center;

    color: #100637;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .instructor-cards {
    display: flex;
    margin-top: 4rem;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 2rem;
    .instructor-card {
      margin-bottom: 2.5rem;
      max-width: 447.87px;
      flex: 1;
      .instructor-image {
        img {
          width: 447.87px;
          height: 460.04px;
        }
      }
      .instructor-card-content {
        display: flex;
        width: 100%;
        margin-top: 1rem;
        .left {
          width: 50%;
          .content-heading {
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            color: #000000;
          }
          .content-sub-heading {
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            margin-top: 1rem;
            color: #8a8a8a;
          }
        }
        .right {
          width: 50%;
          display: flex;
          justify-content: flex-end;
          .join-now-button {
            @include center;
            cursor: pointer;
            width: 155.51px;
            height: 56.45px;
            background: #319d8e;
            border-radius: 10px;
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 14px;

            color: #ffffff;
          }
        }
      }
      .instructor-footer {
        margin-top: 2rem;
        display: flex;
        .footer-item {
          @include center;
          flex: 1;
          span {
            margin: 0 1rem;

            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;

            color: #000000;
          }
        }
      }
    }
  }
}
